body{
    background-color: antiquewhite;
}
h1{
    background-color: blueviolet;
}
h1+p{
    background-color: darkseagreen;
}
h2{
    background-color: aquamarine;
}
h2+p{
    background-color: yellow;
}
ul{
    background-color: blue;
}